/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 1300px;
  margin: auto;
}
p {
  line-height: 28px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  padding-bottom: 30px;
}

h3 {
  font-size: 25px;
  padding-bottom: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 0;
}

.cto {
  background-color: #fe775a;
  padding: 10px;
  border: 1px solid #fe775a;
  border-radius: 6px;
  color: white;
}

.centrato {
  text-align: center;
}

.orange {
  color: #fe775a;
  padding-right: 10px;
}

/* .classediesempio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */
/* fine generali */

/* HEADER */
/* header top */
header .header-top {
  background-color: #f4f9fd;
  border-bottom: 2px solid black;
}

header .header-top .column > div{
  padding: 30px 0;
}

header .header-top .column .language {
  float: left;
}

header .header-top .column .language a:last-child {
  border-left: 1px solid black;
  padding-left: 15px;
  margin-left: 15px;
  color: black;
}

header .header-top .column .subscription {
  float: right;
}

header .header-top .column .subscription i {
  color: #00a4bd;
}

header .header-top .column .subscription #cornice-bianca {
  padding: 10px;
  border: 1px solid #fe775a;
  border-radius: 6px;
  color: #fe775a;
  margin: 0 15px;
}

/* header center */
header .header-center .column img, header .header-center .column > nav{
  padding: 30px 0;
}

header .header-center .column img {
  float: left;
  vertical-align: middle;
}

header .header-center .column nav {
  float: right;
  line-height: 30px;
}

header .header-center .column nav li {
  display: inline-block;
  padding: 0 15px;
}

header .header-center .column nav li:last-child {
  padding: 0px;
}
/* jumbotron */
header .jumbotron {
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-color: #fff4ef;
  background-position: 100% 0;
  background-repeat: no-repeat;
  height: 610px;
}

header .jumbotron .column .title {
  position: absolute;
  top: 10%;
  width: 700px;
}

header .jumbotron .column .title p{
  margin: 30px 0;
}

header .jumbotron .column .title p:last-child{
  font-size: 13px;
}

header .jumbotron .column .title a{
  display: inline-block;
  margin: 0;
  padding: 20px 30px;
}

/* header bottom */
header .header-bottom {
  background-color: #afebe4;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 90px;
}
/* fine header */

/* MAIN */
main {
  background-color: #f4f9fd;
}

main .column {
  padding: 50px 0;
}
/* main top */
main .column .main-top .centrato {
  padding: 0 170px;
  margin-bottom: 50px;
}

main .column .main-top .centrato img {
  height: 200px;
}

main .column .main-top .orizzontale {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  padding: 85px;
}

main .column .main-top .orizzontale {
  margin-bottom: 50px;
}

main .column .main-top .orizzontale .box-immagine {
  float: left;
  width: 25%;
  text-align: center;
  margin-right: 5%;
}

main .column .main-top img{
  height: 110px;
  margin-bottom: 20px;
}

main .column .main-top .orizzontale .box-immagine a{
display: inline-block;
padding: 20px 30px;
}

main .column .main-top .orizzontale .box-testo {
  float: left;
  width: 70%;
}

main .column .main-top .orizzontale .box-testo h4 {
  float: left;
  padding-right: 40px;
}

main .column .main-top .orizzontale .box-testo hr {
  width: 65%;
  margin: 27px auto;
}

main .column .main-top .orizzontale .box-testo li {
  display: inline-block;
  padding-top: 15px;
  padding-right: 15px;
}

main .column .main-top .verticale .column {
  float: left;
  width: 30%;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  padding: 30px;
  text-align: center;
}

main .column .main-top .verticale .column:nth-child(2) {
  margin: 0% 5%;
}

main .column .main-top .verticale .column p {
  padding-bottom: 50px;
}

main .column .main-top .verticale .column h4 {
  padding: 40px;
}

main .column .main-top .verticale .column ul {
  text-align: left;
}

main .column .main-top .verticale .column a {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 30px;
}
/* main center */

/* main bottom */
.
