/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 1300px;
  margin: auto;
}

.centrato {
  text-align: center;
}

.cto {
  background-color: #fe775a;
  padding: 25px 35px;
  border: 1px solid #fe775a;
  border-radius: 6px;
  color: white;
}

.orange {
  color: #fe775a;
  padding-right: 10px;
}

p {
  line-height: 28px;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
  color: black;
   display: inline-block;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  padding-bottom: 30px;
}

h3 {
  font-size: 25px;
  padding-bottom: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 0;
}
/* fine generali */

/* HEADER */
/* header top */
header .header-top {
  background-color: #f4f9fd;
  border-bottom: 2px solid black;
}

header .header-top .column > div{
  padding: 30px 0;
}

header .header-top .column .language {
  float: left;
}

header .header-top .column .language a:last-child {
  border-left: 1px solid black;
  padding-left: 15px;
  margin-left: 15px;
  color: black;
}

header .header-top .column .subscription {
  float: right;
}

header .header-top .column .subscription i {
  color: #00a4bd;
}

header .header-top .column .subscription #cornice-bianca {
  padding: 12px;
  border: 1px solid #fe775a;
  border-radius: 6px;
  color: #fe775a;
  margin: 0 15px;
}

header .header-top .column .subscription .cto {
  padding: 12px;
}

/* header center */
header .header-center .column img, header .header-center .column > nav{
  padding: 30px 0;
}

header .header-center .column img {
  float: left;
  vertical-align: middle;
}

header .header-center .column nav {
  float: right;
  line-height: 30px;
}

header .header-center .column nav li {
  display: inline-block;
  padding: 0 15px;
}

header .header-center .column nav li:last-child {
  padding: 0px;
}

/* jumbotron */
header .jumbotron {
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-color: #fff4ef;
  background-position: 100% 0;
  background-repeat: no-repeat;
  height: 610px;
}

header .jumbotron .column .title {
  position: absolute;
  top: 10%;
  width: 700px;
}

header .jumbotron .column .title p{
  margin: 30px 0;
}

header .jumbotron .column .title p:last-child{
  font-size: 13px;
}

/* header bottom */
header .header-bottom {
  background-color: #afebe4;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 90px;
}
/* fine header */

/* MAIN */
main {
  background-color: #f4f9fd;
}

main .column {
  padding: 70px 0;
}

/* main top */
main .main-top .column img{
  height: 110px;
  margin-bottom: 20px;
}

main .main-top .column .centrato {
  padding: 0 170px;
  margin-bottom: 50px;
}

main .main-top .column .centrato img {
  height: 200px;
}

main .main-top .column .orizzontale {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  padding: 85px;
}

main .main-top .column .orizzontale {
  margin-bottom: 50px;
}

main .main-top .column .orizzontale .box-immagine {
  float: left;
  width: 25%;
  text-align: center;
  margin-right: 5%;
}

main .main-top .column .orizzontale .box-testo {
  float: left;
  width: 70%;
}

main .main-top .column .orizzontale .box-testo h4 {
  float: left;
  padding-right: 40px;
}

main .main-top .column .orizzontale .box-testo hr {
  width: 65%;
  margin: 27px auto;
}

main .main-top .column .orizzontale .box-testo li {
  display: inline-block;
  padding-top: 15px;
  padding-right: 15px;
}

main .main-top .column .verticale .tab {
  float: left;
  width: 30%;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  padding: 30px;
  text-align: center;
}

main .main-top .column .verticale .tab:nth-child(2) {
  margin: 0% 5%;
}

main .main-top .column .verticale .tab p {
  padding-bottom: 50px;
}

main .main-top .column .verticale .tab h4 {
  padding: 40px;
}

main .main-top .column .verticale .tab ul {
  text-align: left;
  margin-bottom: 40px;
}

/* main center */
main .main-center {
  background-color: #00a8b9;
  color: white;
}

main .main-center .column h3 {
  font-size: 30px;
  margin: 0 20px;
}
main .main-center .column .griglia{
  padding-top: 60px;
}
main .main-center .column .griglia .square {
  float: left;
  width: 25%;
  padding: 25px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

main .main-center .column .griglia .square:nth-child(1n+5) {
  border-bottom: none;
}

main .main-center .column .griglia .square:nth-child(4n+4) {
  border-right: none;
}

main .main-center .column .griglia .square .numbers {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  padding: 20px 0;
}

main .main-center .column .griglia .square p {
  font-size: 13px;
}

/* main bottom */
main .main-bottom .column .up .box-testo {
  float: left;
  width: 17%;
  margin-left: 3%;
}

main .main-bottom .column .up .box-testo h3 {
  font-size: 50px;
}

main .main-bottom .column .up .box-immagine {
  float: left;
  width: 60%;
  margin-left: 20%;
}

main .main-bottom .column .up .box-immagine li{
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}

main .main-bottom .column .up .box-immagine img{
  width: 150px;
  margin-right: 30px;
}

main .main-bottom .column .down  {
  padding-top: 40px;
}

main .main-bottom .column .down .box-testo {
  float: left;
  width: 42%;
  padding-top: 50px;
}

main .main-bottom .column .down .box-testo a{
  margin: 40px 0;
}

main .main-bottom .column .down .box-testo p:last-child{
  font-size:13px;
}

main .main-bottom .column .down .box-immagine {
  float: right;
}

main .main-bottom .column .down .box-immagine img {
  height: 450px;
}

/* FOOTER */
/* footer top */
footer {
  background-color: #32495b;
  color: white;
  height: 300px;
}

/* footer center */
/* footer bottom */
/* fine footer */
